name: Build and Export All APKs

on:
  workflow_dispatch:

jobs:
  build_apk:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        flavor:
          - two_d
          - amtel
          - boost
          - digicel
          - nadiya
          - nz
          - o2
          - optus
          - rw
          - tesco
          - team
          - tmobile
          - us
          - verizon
          - verizon_acc
          - vzw
          - xfinity
          - aio
        build_type:
          - Staging
          - Production

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Ensure Gradle is executable
        run: chmod +x gradlew

      - name: Build Staging Debug APK
        if: matrix.build_type == 'Staging'
        run: |
          ./gradlew assemble${{ matrix.flavor }}StagingDebug

      - name: Upload Staging Debug APK
        if: matrix.build_type == 'Staging'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.flavor }}-Staging-debug
          path: app/build/outputs/apk/${{ matrix.flavor }}Staging/debug/*.apk

      - name: Build Production Release APK
        if: matrix.build_type == 'Production'
        run: |
          ./gradlew assemble${{ matrix.flavor }}ProductionRelease

      - name: Upload Production Release APK
        if: matrix.build_type == 'Production'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.flavor }}-Production-release
          path: app/build/outputs/apk/${{ matrix.flavor }}Production/release/*.apk
