name: Build and Export APK For All

on:
  workflow_dispatch:
    inputs:
      flavor:
        description: 'Android build flavor:'
        required: true
        type: choice
        options:
          - two_d
          - amtel
          - boost
          - digicel
          - nadiya
          - nz
          - o2
          - optus
          - rw
          - tesco
          - team
          - tmobile
          - us
          - verizon
          - verizon_acc
          - vzw
          - xfinity
          - aio
      build_type:
        description: 'Build type:'
        required: true
        type: choice
        options:
          - Staging
          - Production

jobs:
  build_apk:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Ensure Gradle cache directories exist
        run: |
          mkdir -p ~/.gradle/caches
          mkdir -p ~/.gradle/wrapper

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build Debug APK for Staging
        if: github.event.inputs.build_type == 'Staging'
        run: ./gradlew assemble${{ github.event.inputs.flavor }}StagingDebug

      - name: Upload Debug APK for Staging
        if: github.event.inputs.build_type == 'Staging'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.flavor }}Staging-debug-apk
          path: app/build/outputs/apk/${{ github.event.inputs.flavor }}Staging/debug/app-${{ github.event.inputs.flavor }}Staging-debug.apk

      - name: Build Release APK for Production
        if: github.event.inputs.build_type == 'Production'
        run: ./gradlew assemble${{ github.event.inputs.flavor }}ProductionRelease

      - name: Upload Release APK for Production
        if: github.event.inputs.build_type == 'Production'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.flavor }}Production-release-unsigned-apk
          path: app/build/outputs/apk/${{ github.event.inputs.flavor }}Production/release/app-${{ github.event.inputs.flavor }}Production-release-unsigned.apk

      - name: Check for Signing Keystore
        id: check_keystore
        if: github.event.inputs.build_type == 'Production'
        run: |
          if [ -f "keystore.jks" ]; then
            echo "Keystore found. Proceeding with signed build."
            echo "::set-output name=keystore_exists::true"
          else
            echo "Keystore not found. Skipping signed build."
            echo "::set-output name=keystore_exists::false"
          fi
      - name: Sign Release APK (Conditional)
        if: github.event.inputs.build_type == 'Production' && steps.check_keystore.outputs.keystore_exists == 'true'
        run: |
          ./gradlew sign${{ github.event.inputs.flavor }}ProductionRelease
      - name: Upload Signed Release APK (Conditional)
        if: github.event.inputs.build_type == 'Production' && steps.check_keystore.outputs.keystore_exists == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.inputs.flavor }}Production-release-signed-apk
          path: app/build/outputs/apk/${{ github.event.inputs.flavor }}Production/release/app-${{ github.event.inputs.flavor }}Production-release-signed.apk